@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin-ext");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px; }

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #777;
  overflow-x: hidden; }

.container-fluid {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px; }

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #777;
  overflow-x: hidden; }

.container-fluid {
  padding: 0; }

nav {
  z-index: 999;
  width: 100vw;
  background: transparent;
  position: absolute;
  top: 30px; }
  nav .nav-bar {
    max-width: 1000px;
    margin: 0 auto; }
    nav .nav-bar .nav-logo {
      float: left;
      width: 20%;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    nav .nav-bar .nav-menu {
      position: relative;
      top: 50%;
      -webkit-transition: translateY(-50%);
      -o-transition: translateY(-50%);
      transition: translateY(-50%);
      float: right;
      width: 80%; }
      nav .nav-bar .nav-menu .nav-menu-content li {
        position: relative;
        float: right; }
        nav .nav-bar .nav-menu .nav-menu-content li a {
          display: block;
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          padding: 0 20px;
          line-height: 3;
          color: #fff; }
          nav .nav-bar .nav-menu .nav-menu-content li a:hover {
            text-decoration: none;
            background: #fed136; }

.photo-inner {
  background: url("../images/parallax-photo/background-image.png") no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-top: 100px;
  z-index: -1; }
  .photo-inner .content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .photo-inner .content h1 {
      color: #fff;
      font-size: 75px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 59px; }
    .photo-inner .content h2 {
      color: #fff;
      font-family: "Droid Serif";
      font-size: 40px;
      font-style: italic;
      margin-bottom: 52px; }
    .photo-inner .content button {
      width: 265px;
      height: 65px;
      background-color: #fed136;
      border: none;
      border-radius: 5px; }
      .photo-inner .content button span {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px; }

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #777;
  overflow-x: hidden; }

.container-fluid {
  padding: 0; }

#services .title {
  margin: 120px auto 80px auto;
  text-align: center; }
  #services .title h2 {
    font-family: "Montserrat", sans-serif;
    color: #222;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase; }
  #services .title p {
    font-family: "Droid Serif";
    color: #777;
    font-size: 16px;
    font-style: italic; }

#services .service {
  text-align: center;
  margin-bottom: 120px; }
  #services .service h3 {
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 75px; }
  #services .service p {
    color: #777;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px; }

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #777;
  overflow-x: hidden; }

.container-fluid {
  padding: 0; }

#our-portfolio {
  background: #f7f7f7; }
  #our-portfolio .title {
    margin: 120px auto 80px auto;
    text-align: center; }
    #our-portfolio .title h2 {
      font-family: "Montserrat", sans-serif;
      color: #222;
      font-size: 40px;
      font-weight: 700;
      line-height: 75px;
      text-transform: uppercase; }
    #our-portfolio .title p {
      font-family: "Droid Serif";
      color: #777;
      font-size: 16px;
      font-style: italic; }
  #our-portfolio .gallery {
    margin: 0 auto 121px auto; }
    #our-portfolio .gallery > .col-custom {
      text-align: center;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0; }
      #our-portfolio .gallery > .col-custom:nth-of-type(1) {
        padding-bottom: 50px; }
      #our-portfolio .gallery > .col-custom:nth-of-type(2) {
        padding-bottom: 50px; }
      #our-portfolio .gallery > .col-custom:nth-of-type(3) {
        padding-bottom: 50px; }
      #our-portfolio .gallery > .col-custom .image-box {
        margin: 0 auto;
        background-color: #fff;
        text-align: center;
        width: 290px; }
        #our-portfolio .gallery > .col-custom .image-box h3 {
          color: #333;
          font-family: "Montserrat", sans-serif;
          font-size: 18px;
          font-weight: 700;
          padding-right: 2px;
          padding-top: 29px; }
        #our-portfolio .gallery > .col-custom .image-box p {
          color: #737373;
          font-family: "Droid Serif";
          font-size: 14px;
          font-style: italic;
          padding: 2px;
          padding-bottom: 27px;
          letter-spacing: 1px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px; }

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #777;
  overflow-x: hidden; }

.container-fluid {
  padding: 0; }

#about-us .timeline .container-timeline:nth-of-type(1)::after, #about-us .timeline .container-timeline:nth-of-type(3)::after, #about-us .timeline .container-timeline:nth-of-type(2)::before, #about-us .timeline .container-timeline:nth-of-type(4)::before, #about-us .timeline .container-timeline:last-of-type::after {
  content: '';
  position: absolute;
  width: 170px;
  height: 170px;
  border: 4px solid #f1f1f1;
  top: 0;
  border-radius: 50%;
  z-index: 1;
  background-color: #f1f1f1; }

#about-us .title {
  margin: 120px auto 80px auto;
  text-align: center; }
  #about-us .title h2 {
    font-family: "Montserrat", sans-serif;
    color: #222;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase; }
  #about-us .title p {
    font-family: "Droid Serif";
    color: #777;
    font-size: 16px;
    font-style: italic; }

#about-us .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background: transparent; }
  #about-us .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #f1f1f1;
    z-index: 1; }
  #about-us .timeline .container-timeline {
    position: relative;
    background-color: transparent;
    width: 50%;
    height: 170px;
    margin-bottom: 95px; }
    #about-us .timeline .container-timeline:nth-of-type(1)::after {
      background-image: url("../images/about-us/image-1.png");
      right: 0;
      -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
              transform: translateX(50%); }
    #about-us .timeline .container-timeline:nth-of-type(3)::after {
      background-image: url("../images/about-us/image-3.png");
      right: 0;
      -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
              transform: translateX(50%); }
    #about-us .timeline .container-timeline:nth-of-type(2)::before {
      background-image: url("../images/about-us/image-2.png");
      left: 0;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    #about-us .timeline .container-timeline:nth-of-type(4)::before {
      background-image: url("../images/about-us/image-4.png");
      left: 0;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    #about-us .timeline .container-timeline:last-of-type::after {
      right: 0;
      -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
              transform: translateX(50%);
      content: 'Our Story Continues ...';
      text-align: center;
      background-color: #fed136;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 50px 30px; }
  #about-us .timeline .container-left {
    text-align: right;
    left: 0;
    padding: 10px;
    padding-right: 130px;
    padding-left: 150px; }
  #about-us .timeline .container-right {
    text-align: left;
    left: 50%;
    padding: 10px;
    padding-left: 130px;
    padding-right: 150px; }
  #about-us .timeline h3 {
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 17px; }
    #about-us .timeline h3 > span {
      text-transform: uppercase; }
  #about-us .timeline p {
    color: #777;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px; }

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #777;
  overflow-x: hidden; }

.container-fluid {
  padding: 0; }

#team {
  background-color: #f9f9f9; }
  #team .title {
    margin: 120px auto 80px auto;
    text-align: center; }
    #team .title h2 {
      font-family: "Montserrat", sans-serif;
      color: #222;
      font-size: 40px;
      font-weight: 700;
      line-height: 75px;
      text-transform: uppercase; }
    #team .title p {
      font-family: "Droid Serif";
      color: #777;
      font-size: 16px;
      font-style: italic; }
  #team .team-member {
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
    #team .team-member h3 {
      margin: 0;
      padding: 0;
      color: #222;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 40px; }
    #team .team-member p {
      color: #777;
      font-family: "Roboto Slab", serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 10px; }
    #team .team-member .social-icons {
      padding: 20px; }
      #team .team-member .social-icons .icon-btn {
        font-size: 20px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 3px solid #000;
        background-color: transparent;
        color: #000;
        cursor: pointer;
        margin: 0 10px; }
        #team .team-member .social-icons .icon-btn:hover {
          background-color: #000;
          color: #fff; }
  #team .description {
    padding: 50px;
    margin-bottom: 70px; }
    #team .description h3 {
      color: #777;
      font-family: "Roboto Slab", serif;
      font-size: 16px;
      font-weight: 400;
      text-align: center; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px; }

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #777;
  overflow-x: hidden; }

.container-fluid {
  padding: 0; }

#clients .logos {
  margin: 60px auto; }
  #clients .logos .logo {
    text-align: center;
    padding-left: 0;
    padding-right: 0; }
