#form-contact {
	background-color: #222222;
	border: 1px solid #222222;
	position: relative;

	.title {
		@include title-section;
		h2 {
			color: #fff;
		}
	}

	form {
		text-align: center;
		margin-bottom: 120px;
		input,
		textarea {
			display: block;
			width: 100%;
			padding: 20px;
			margin-bottom: 30px;
			border-radius: 5px;
			border: none; //text
			color: #bbb;
			font-family: $basic-font;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
		}

		.buttonHolder {
			text-align: center;
			button {
				margin-top: 10px;
				@include btn-template;
			}
		}
	}
	&::after {
		content: '';
		background-image: url('../images/contact/map-image.png');
		position: absolute;
		top: 20%;
		left: 55%;
		width: 45%;
		height: 80%;
	}
}
