$copyright-font-color: #555;

footer {
	position: relative;

	.social-media {
		@include btn-social-media-reverse;
	}

	.copyright {
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: $copyright-font-color;
		font-family: $basic-font;
		font-size: 14px;
		font-weight: $medium-font-weight;
	}

	@media (max-width: #{$pc-medium}) {
		.copyright {
			text-align: center;
			width: 100%;
			position: static;
			margin: 5px;
		}
	}
}
