@import '_common.scss';

#team {
	background-color: #f9f9f9;

	.title {
		@include title-section;
	}

	.team-member {
		padding-left: 0;
		padding-right: 0;
		text-align: center;
		h3 {
			line-height: 40px;
			margin: 0;
			padding: 0;
		}

		p {
			line-height: 10px;
		}

		.social-icons {
			@include btn-social-media;
		}
	}

	.description {
		padding: 50px;
		margin-bottom: 70px;
		h3 {
			color: $basic-color;
			font-family: $description-font;
			font-weight: $medium-font-weight;
			text-align: center;
		}
	}
}
