@import '_common.scss';

$description-paragraph-text-color: #737373;
$description-header-text-color: #333;

@mixin image-margin-bottom($quantity) {
	@for $i from 1 through $quantity {
		&:nth-of-type(#{$i}) {
			margin-bottom: 50px;
		}
	}
}

#our-portfolio {
	background: $background-portfolio-color;
	.title {
		@include title-section;
	}

	.gallery {
		margin: 0 auto 70px auto;

		& > .col-custom {
			text-align: center;
			margin: 0 auto;
			padding-left: 0;
			padding-right: 0;

			@include image-margin-bottom(6);

			.image-box {
				margin: 0 auto;
				background-color: #fff;
				text-align: center;
				width: 290px;

				h3 {
					color: $description-header-text-color;
					font-size: 18px;
					padding-right: 2px;
					padding-top: 29px;
				}

				p {
					color: $description-paragraph-text-color;
					font-family: $paragraph-font;
					font-style: italic;
					padding: 2px;
					padding-bottom: 27px;
					letter-spacing: 1px;
				}
			}
		}
	}
}
